body {
  text-align: center;
  background-color: #4caf50;
  color: #4e342e;
  margin-top: 150px;
}

.ibox {
  background-color: #6d4c41;
}

#button {
  background-color: orange;
}

#tit {
  font-size: 50px;
  font-variant: small-caps;
  word-spacing: 10px;
}
